/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*start of my code*/

nav{
	padding: 38px 0px 0px 40px;
	position: fixed;
}
#m{
	left: -20px;
	width: 150px;
	padding-bottom: 10px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.sidebar, .social{
	text-decoration: none;
	color: #000000;
}

#abt{
	padding-top: 10px;
}

.sidebar{
	padding-left: 30px;
	padding-top: 5px;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
}

.sidebar:hover, .text:hover{
	color: #ffccff;
}

/*body*/
body{
	font-family: Clear Sans;
}

#container{
	margin-left: 300px;
	top:30px;
	width: 500px;
	padding-top: 50px;
	position: fixed;
}

h1{
	font-family: Cooper Std;
	padding-bottom: 10px;
}

#buttons{
		padding-top: 30px;
}

#connect{
	border-bottom: .5px solid black;
}

#connect, .social{
	font-size: 12px;
}

#top{
	padding-top: 18px;
}

.x{
	text-decoration: none;
}

.x:hover{
	color: black;
}

.social{
	display: block;
	padding-top: 10px;
}

p{
	font-size: 12px;
	line-height: 18px;
}

#spotify{
	padding-top: 30px;
}

/*footer*/

#footer{
	font-size: 10px;
	display: block;
	position: fixed;
	left: 70px;
	bottom: 5%;
	width: 150px;
	line-height: 20px;
}


@media (min-width: 1px) and (max-width: 640px){
	#container{margin-left: 25px; padding-top: 50px;}
	#abt{padding: 0px;}
	nav{position: absolute; padding:0px;}
	#m{display: none;}
	p{width: 350px;}
	.sidebar{font-size: 12px; display: inline-block; padding: 20px 0px 0px 0px; margin-left: 15px;}
	#footer{bottom: 10px; left: 20px;}
}

@media (min-width: 641px) and (max-width: 800px){
	.images{margin-left: 250px;}
	p{width: 400px;}
}

@media (min-width: 801px) and (max-width: 1250px){
	.images{margin-left: 300px;}
}