/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*start of my code*/

body{
	font-family: Clear Sans;
}

nav{
	padding: 38px 0px 0px 40px;
	position: fixed;
}
#m{
	left: -20px;
	width: 150px;
	padding-bottom: 10px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.sidebar, .social, #infolink{
	text-decoration: none;
	color: #000000;
}

#abt{
	padding-top: 10px;
}

.sidebar{
	padding-left: 30px;
	padding-top: 5px;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sidebar:hover, .arrow:hover{
	color: #ffccff;
}

/*body*/
p{
	padding: 0px 120px 50px 0px;
	line-height: 18px;
	font-size: 12px;
}

.caphead{
	border-bottom: .5px solid black;
	width: 100%;
}

.images{
	margin-left: 450px;
	padding-bottom: 50px;
	padding-top: 50px;
}


.portfolio{
	width: 90%;
	display: block;
	padding-bottom: 20px;
}

.arrow{
	font-size: 12px;
	text-decoration: none;
	color: black;
}

#all{
	left: 50%;
}

#next{
	text-align: right;
}

.caption{
	font-size: 12px;
	margin: 20px 0px 15px 0px;
	line-height: 18px;
	padding-right: 10px;
}

#infolink{
	font-size: 14px;
	border-bottom: .5px solid black
}
/*footer*/

#footer{
	font-size: 10px;
	display: block;
	position: fixed;
	left: 70px;
	bottom: 5%;
	width: 150px;
	line-height: 20px;
}


@media (min-width: 1px) and (max-width: 640px){
	p, .caption{padding-left: 20px;}
	p{padding-right: 30px;}
	.portfolio, .overlay{width: 100%;}
	.images{margin: 15px 0px 0px 0px;}
	#abt{padding: 0px;}
	nav{position: absolute; padding:0px;}
	#m{display: none;}
	.sidebar{font-size: 12px; display: inline-block; padding: 5px; margin-left: 10px;}
	#footer{position: relative; bottom: 10px; left: 20px;}
}

@media (min-width: 641px) and (max-width: 800px){
	.images{margin-left: 250px;}
}

@media (min-width: 801px) and (max-width: 1250px){
	.images{margin-left: 300px;}
}